# groq LLM API key (used to power the 'orchestrator' and all agents)
GROQ_API_KEY=your_groq_api_key_here

# serpApi key (used by 'travel planner' for google flights & google hotels)
# replace with the key you got with your 250 free monthly searches.
GOOGLE_SEARCH_API_KEY=your_serpapi_key_here

# tavily API key (used by 'guide' for live events and restaurant searches).
TAVILY_API_KEY=your_tavily_key_here
